<div data-role="view" data-title="signin" data-layout="main" data-model="app.signin" data-show="app.signin.onShow" data-after-show="app.signin.afterShow">
    <div class="signin-view">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input type="email" placeholder="Email" data-bind="value: signinModel.email" required autofocus>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input type="password" placeholder="Password" data-bind="value: signinModel.password" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: signinModel.signin }">Sign In</a>

                <a data-role="button" data-bind="events: { click: signinModel.toggleView }">Register</a>

            </div>
        </form>
    </div>
    <div class="signup-view" style="display:none;">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input type="email" data-bind="value: signinModel.email" required>
                    </label>
                </li>
                <li>
                    <label>Password
                        <input type="password" data-bind="value: signinModel.password">
                    </label>
                </li>
                <li>
                    <label>Name
                        <input type="text" data-bind="value: signinModel.displayName">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: signinModel.register }">Register</a>
                <a data-role="button" data-bind="events: { click: signinModel.toggleView }">Sign In</a>
            </div>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_signinModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_signinModel -->

    <!-- START_CUSTOM_CODE_signin -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_signin -->
</div>